.custom-background {
    --background: #FFDE59;
    background-color: #FFDE59;
  }
  
  .back-button {
    color: #000;
    margin-top: 20px;
    padding-left: 0;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    
  }
  
  .subtitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
  }
  
  .custom-background {
    --background: #FFDE59;
    background-color: #FFDE59;
  }
  
  .checkbox-item {
    --background: #FFDE59 !important; // Samakan background dengan halaman
    background-color: #fddf5c;
  }
  
  ion-checkbox {
    --background: #FFDE59;               // latar belakang saat tidak dicentang
    --border-color: #000;                // garis pinggir checkbox (agar tetap terlihat)
    --checkbox-background-checked: #ffffff; // latar belakang saat dicentang
    --checkmark-color: #000000;          // warna centang
    margin-right: 8px;
    
  }

  .checkbox-label {
    color: #000;
  }

  .sign-in-text {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    color: #000;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .name-phone {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .phone-input {
    border-radius: 15px;
    padding: 15px;
    color: #000000;
    --background: #ede9e9 !important; // Samakan background dengan halaman
    background-color: #ede9e9;
  }
  
  .social-button {
    border-radius: 30px;
    margin-top: 420px;
    color: #000;
    --background: #ffffff;
    --border-color: #000;
    border: 4px solid black;
    text-transform: none;
    font-weight: 500;
  }

  .login {
    --background: #04221B;
    color: #FFDE59;
  }

  .custom-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
  }