.custom-background {
    --background: #fddf5c;
    background-color: #fddf5c;
  }
  
  .back-button {
    color: #000;
    margin-top: 20px;
    padding-left: 0;
  }
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
  }
  
  .subtitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
  }
  
  .custom-background {
    --background: #fddf5c;
    background-color: #fddf5c;
  }
  
  .checkbox-item {
    --background: #fddf5c !important; // Samakan background dengan halaman
    background-color: #fddf5c;
  }
  
  ion-checkbox {
    --background: #fddf5c;               // latar belakang saat tidak dicentang
    --border-color: #000;                // garis pinggir checkbox (agar tetap terlihat)
    --checkbox-background-checked: #ffffff; // latar belakang saat dicentang
    --checkmark-color: #000000;          // warna centang
    margin-right: 8px;
    
  }

  .checkbox-label {
    color: #000;
  }

  .sign-in-text {
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    color: #000;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .line {
    height: 2px;
    flex: 1;
    background-color: #000;
    margin-top: 1px;
    margin: 17px;
  }
  
  .or {
    font-weight: bold;
    color: #000;
  }

  .name-phone {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }

  .phone-input {
    border-radius: 15px;
    padding: 15px;
    color: #000000;
    --background: #ede9e9 !important; // Samakan background dengan halaman
    background-color: #ede9e9;
  }
  
  .social-button {
    border-radius: 30px;
    margin-bottom: 20px;
    color: #000;
    --background: #ffffff;
    --border-color: #000;
    border: 4px solid black;
    text-transform: none;
    font-weight: 500;
  }
  
  .google {
    font-weight: bold;
    --color: #000;
  }
  
  .Facebook {
    font-weight: bold;
    --color: #000;
  }
  
  .WhatsApp {
    font-weight: bold;
    --color: #000;
  }

  .login {
    --background: #04221B;
    color: #fddf5c;
  }

  .custom-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
  }
 
  ion-footer.custom-footer {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    overflow: visible;
  }
  
  .footer-inner {
    background-color: #FFD95A;
    border-top: 4px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 25px ;
    margin-top: -5px; /* supaya border tidak terlihat kotak di atas */
    overflow: hidden;
    position: relative;
  }
  
  /* Tombol */
  .login-button {
    --background: #062D25;
    --color: #FFD95A;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 10px;
  }
  